body {
  margin: 0;
}

li {
  margin: 10px 0 0 0
}
ul {
  display: flex;
  align-content: left;
  font-size: 0.7em;
  border-bottom: 2px solid black;
  margin: 0;
}

ul>* {
  width: 100px;
  border-right: 2px solid black;
}
ul>*:first-child {
  border-left: 2px solid black;
}
ul>div {
  padding: 5px 0 0 0;
}

ul>button{
  font-size: 0.5em;
}

